
.a{
    
    background-color:lightslategray;

    border-radius:50px;
    transition:0.1s;
    color: black;
    border-color:none;
    margin-right:10px;
    margin-bottom:10px;
    padding:30px;
    border:none;


}
.a:hover{
      background-color: rgb(73, 73, 63);
}
.B
{
    background-color:grey;

    border-radius:50px;
    transition:0.1s;
    color: black;
    border: none;
    border-color:none;
    margin-right:10px;
    margin-bottom:10px;
    padding:30px;

}
.b:hover{
    background-color: darkgrey;
}
.c{
    background-color: rgb(128, 238, 238);

    border-radius:50px;
    transition:0.1s;
    color: black;
    border-color:none;
    margin-right:10px;
    margin-bottom:10px;
    padding:30px;
    border: none;

}
.c:hover{
    background-color: rgb(187, 232, 235);
}

.div{
    position: fixed;
    top:100px;
    right:100px;
    border-style: solid;
    border-color: black;
    border-radius: 70px;
    border-width: 3px;
    padding: 20px;
    background-color: black;

}
body{
    left:100px;
}
input{
    padding: 10px;
    padding-left:10px;
    border-radius:10px;
    padding-right: 10px;
    padding: auto;
    width: 330px;
}